@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Zen+Tokyo+Zoo&display=swap');

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #030321;
  font-family: 'Montserrat';
}
a, h6{
  font-family: 'Montserrat';
  font-weight: bold;
}
svg {
    display: block;
    /*font: 10.5em 'Montserrat';*/
    font:15.5em 'Zen Tokyo Zoo', cursive;
    width: 960px;
    height: 300px;
    margin: 0 auto;
}
.interlineado { line-height: 250%;} 
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


h1,h2,h3,h4,h5,h6,a,p, label{
    color: white;   
} 

.textnav{
    color: white;
}

@media (max-width: 500px) {
  svg {
    display: block;
    /*font: 10.5em 'Montserrat';*/
    font:15.5em 'Zen Tokyo Zoo', cursive;
    width: 100%;
    height: 120px;
    margin: 0 auto;
  }
}
